@font-face {
    font-family: Poppins;
    src: url('https://fonts.google.com/specimen/Poppins');
}

.navbar-light{
    margin-top: 2rem; 
    margin-bottom: 1.6rem;
}

.navbar-toogler{
    margin-right: 3%;
}

.navbar-brand{
    margin-left: 3%;
}

h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 2.3vw;
    text-align: center;
}

.videos{
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    height: 78%;
    width: 95%;
}

/*corpo*/
.titulos{ 
    background-color: white;
    padding: 0 3rem 0 3rem;
    height: 28.5rem;
}

.titulos #header{ 
    width:100%; 
    overflow: hidden; 
}

.titulos #content{ 
    width:100%; 
    overflow:hidden; 
    height:100%; 
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.titulos .abas{
    display: inline;
}

.titulos .abas li{ 
    float: left;
    width:25%;
}
.titulos .conteudo{
    width:100%;  
    background: #ffffff; 
    display:none; 
    height:100%;
}

.aba{
    width:100%; 
    height: 2.3vw; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    font-family: Poppins;
    font-size: 1.3vw;
}
  
.ativa span, .selected span{
    color:#fff;    
}

.selected{
    width:100%;  
    height: 2.3vw; 
    border:solid 1 px; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background:#003CFF;
}

.ativa{
    width:100%; 
    height: 2.3vw; 
    border:solid 1 px; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background:#003CFF;  
}


/*responsividade*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-light{
        margin-top: 1.5rem; 
        margin-bottom: 1rem;
    }
    
    /*corpo*/
    .titulos{ 
        height: 25rem;
    }
    
    .aba{
        height: 2.9vw; 
        font-size: 1.3vw;
    }
    
    .selected{  
        height: 2.9vw; 
    }
    
    .ativa{
        height: 2.9vw; 
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-light{
        margin-top: 0.7rem; 
        margin-bottom: 2.5rem;
        height: 2vw;
        width: 97%;
    }

    .navbar-toggler-icon{
        height: 4.5vw;
    }

    /*corpo*/
    .titulos{
        padding: 0 2rem 0 2rem;
        height: 26rem;
    }
    
    .aba{
        height: 3.5vw; 
        font-size: 1.3vw;
    }
    
    .selected{  
        height: 3.5vw; 
    }
    
    .ativa{
        height: 3.5vw; 
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .navbar-light{
        margin-top: 1rem; 
        margin-bottom: 2.5rem;
        height: 2vw;
        width: 97%;
    }
    
    .navbar-toggler-icon{
        height: 4.3vw;
        width: 4.3vw;
    }
    
    .navbar-brand{
        margin-left: 3%;
    }
    
    h1{
        font-size: 2.4vw;
    }
    
    .videos{
        margin-top: 1.3rem;
        margin-bottom: 1rem;
        margin-left: 3%;
        height: 83%;
        width: 94%;
    }
    
    /*corpo*/
    .titulos{ 
        background-color: white;
        padding: 0 1.5rem 0 1.5rem;
        height: 26rem;
    }
    
    .aba{
        height: 4.5vw; 
        font-size: 1.6vw;
    }
    
    .selected{ 
        height: 4.5vw; 
    }
    
    .ativa{
        height: 4.5vw;  
    }
}
