@font-face {
    font-family: Poppins;
    src: url('https://fonts.google.com/specimen/Poppins');
}

/* novo css */
.row_principal{
    overflow: hidden;
}

.imagem{
    width: 100%;
    height: 100%;
}

.form-control{
    margin-top: 5rem;
    width: 90%;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border: #FFFFFF;
    font-family: Poppins;
    font-size: 1rem;
    border-bottom: 1px solid #003cff;
    border-radius: 0;
}

.botao-entrar {
    margin-top: 2rem;
    background-color: #003cff; 
    color: #fff;
    border-radius: 0;
    margin-bottom: 2rem;
}

.log{
    padding-left: 3rem; 
    margin-top: 10rem
}

.erro{
    font-family: Poppins;
    color: #DD0830;
}
/* -------------------------------------------------------------------------
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .imagem{
        width: 100%;
        height: 100%;
    }
    
    .col{
        display: block;
    }
    .log{
        padding-left: 2rem; 
        margin-top: 1rem;
    }
    .form-control{
        margin-top: 5rem;
        width: 90%;
        height: 49px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border: #FFFFFF;
        font-family: Poppins;
        font-size: 1rem;
        border-bottom: 1px solid #003cff;
        border-radius: 0;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .imagem{
        width: 100%;
        height: 100%;
    }
    .col{
        display: block;
    }
    .log{
        padding-left: 2rem; 
        margin-top: 1rem;
    }
    .form-control{
        margin-top: 5rem;
        width: 90%;
        height: 49px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border: #FFFFFF;
        font-family: Poppins;
        font-size: 1rem;
        border-bottom: 1px solid #003cff;
        border-radius: 0;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .imagem{
        width: 100%;
        height: 100%;
    }
    .col{
        display: block;
    }
    .log{
        margin-top: 1rem;
    }
    .form-control{
        margin-top: 5rem;
        width: 90%;
        height: 49px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border: #FFFFFF;
        font-family: Poppins;
        font-size: 1rem;
        border-bottom: 1px solid #003cff;
        border-radius: 0;
    }
}