@font-face {
    font-family: Poppins;
    src: url('https://fonts.google.com/specimen/Poppins');
}

h1{
    margin-top: 5vw; 
    font-size: 2rem; 
}

.row_principal{
    overflow: hidden;
}

.imagem{
    width: 100%;
    height: 100%;
}

.text-center{ 
    margin-top: 5vw;
    border: white;
}

.btn-primary{
    width: 20rem;
    height: 40px;  
    color: #fff;
    border-radius: 0.4rem;
    background: #003CFF;    
    margin-top: 2rem;
}


/* responsividade*/
@media (min-width: 957px) {           
    .h1{
        margin-top: 3rem; 
        font-size: 1.5rem; 
        margin-left: 2rem
    }

    .text-center{ 
        margin-top: 5.5rem;
        border: white;
    } 
    
    .btn-primary{
        width: 15rem;
        height: 36px;  
        border-radius: 0.4rem;   
        margin-top: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .h1{ 
        font-size: .7rem; 
        margin-left: 2rem;
    }

    .text-center{ 
        margin-top: 4.3rem;
        border: white;
    } 
    
    .btn-primary{
        width: 12rem;
        height: 34px;  
        font-size: 15px;
        border-radius: 0.4rem;
        margin-top: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 320px) and (max-width: 480px) {
    
}