.container{
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: Poppins;
}

.banner{
    height: 45rem;
    overflow: hidden;
}

h1{
    font-style: normal;
    font-weight: bold;
}
.hh1{
    width: 100%; font-size: 4rem;
}

h2{
    font-weight: 800;
}

.texto_banner{
    margin-top: -40rem; 
    margin-left: 5rem;
}

.quem_somos{
    height: auto;
    margin-top: -6rem;
    background: #FFFFFF;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
}

.texto_quem_somos{
    padding: 3rem;
    background-color: #fff;
    line-height: 130%;
    font-size: 1.5rem;
}
.p1{
    font-size: 2rem;
}
.p2{
    font-size: 1.2rem;
    font-weight: 900;
}
.programacao{
    padding-left: 3rem;
    padding-right: 4rem;
    margin-top: 5rem;
}
.sobre{
    margin-top: 3rem; 
    height: 500px;
}

/*quadradinho coloridos*/
.quadradosColoridos{
    margin-top: 3rem;
    height: 400px;
    padding: 2rem;
    padding-top: 4rem;
}

.textoQuadrados{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.textoQuad2{
    font-size: 1rem;
    font-family: Montserrat;
    color: #FFFFFF;
}

.sobre_texto{
    padding: 3rem; 
    padding-left: 10rem;
}
.card-text{
    font-family: Poppins;
    font-style: italic;
    font-size: 1rem;
}

.row_cards{
    margin-left: 7.5rem;
    margin-top: 5rem;
}

.quads{
    margin-left: 5rem; margin-right: 5rem;
}

.scrollToTop{    
    display:none;
}
.franco{
    height: 5rem; margin-top: 2rem;
}

/*-----------------------------------------------------------------------
  //ESTILO DIV BOTÃO SYMPLA
*/

.sympla{
    position:absolute; 
    left:38%;
}

/* -------------------------------------------------------------------------
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .container{
        padding: 0;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .hh1{
        width: 100%; font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .banner{
        height: auto;
    }

    .texto_banner{
        margin-top: -25rem;
        margin-left: 2rem;
    }
    .quem_somos{
        height: auto;
        margin-top: -2rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .texto_quem_somos{
        padding: 1rem;
        background-color: #fff;
        line-height: 116.1%;
        font-size: 1.5rem;
    }
    .row{
        display: flex;
    }
    .programacao{
        padding-left: 3rem;
        margin-top: 2rem;
    }
    .quadradosColoridos{
        display: block;
        padding-left: auto;
    }
    .sobre{
        margin-top: 3rem; 
        height: auto;
    }
    .sobre_texto{
        padding: 2rem;
    }
    .img_mobile{
        width: 100%;
    }
    .row_cards{
        margin-left: auto;
        margin-top: 5rem;
    }
    .quads{
        margin-left: 1rem; margin-right: 1rem;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container{
        padding: 0;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .hh1{
        width: 100%; font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .banner{
        height: 400px;
    }
    .texto_banner{
        margin-top: -26rem;
        margin-left: 2rem;
    }
    .row{
        display: block;
    }
    .programacao{
        padding-left: 3rem;
        margin-top: 2rem;
    }
    .quadradosColoridos{
        display: block;
        padding-left: 13%;
    }
    .sobre{
        margin-top: 3rem; 
        height: auto;
    }
    .sobre_texto{
        padding: 2rem;
    }
    .img_mobile{
        width: 100%;
    }
    .row_cards{
        margin-left: auto;
        margin-top: 5rem;
    }
    .quads{
        margin-left: 1rem; margin-right: 1rem;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .container{
        padding: 0;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .hh1{
        width: 100%; font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .banner{
        height: 500px;
    }
    .texto_banner{
        margin-top: -23rem;
        margin-left: 2rem;
    }
    .quem_somos{
        display: flex;
        height: auto;
    }
    .row{
        display: block;
    }
    .programacao{
        padding-left: 3rem;
        margin-top: 2rem;
    }
    .quadradosColoridos{
        display: block;
        padding-left: 13%;
    }
    .sobre{
        margin-top: 3rem; 
        height: auto;
    }
    .sobre_texto{
        padding: 2rem;
    }
    .img_mobile{
        width: 100%;
    }
    .row_cards{
        margin-left: auto;
        margin-top: 5rem;
    }
    .quads{
        margin-left: 1rem; margin-right: 1rem;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .container{
        padding: 1rem;
    }
    .row{
        display: block;
    }
    h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .hh1{
        width: 100%; font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    .banner{
        height: auto;
    }
    .texto_banner{
        margin-top: -12.5rem;
        margin-left: 2rem;
    }
    .quem_somos{
        height: auto;
        margin-top: -1.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .texto_quem_somos{
        padding: 1.5rem;
        background-color: #fff;
        line-height: 116.1%;
        font-size: 1rem;
    }
    .p1{
        font-size: 1.2rem;
    }
    .programacao{
        padding-left: 3rem;
        margin-top: 2rem;
    }
    .quadradosColoridos{
        display: block;
        padding: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .sobre{
        margin-top: 3rem; 
        height: auto;
    }
    .sobre_texto{
        padding: 2rem;
    }
    .img_mobile{
        width: 100%;
        height: 100%;
    }
    .row_cards{
        margin-left: auto;
        margin-top: 5rem;
    }
    .quads{
        margin-left: 1rem; margin-right: 1rem;
    }
    .pat{
        height: 5rem; margin-left: 2rem; margin-top: 2rem;
    }
    .franco{
        width: 100%; margin-top: 2rem;
    }
  }
