body{
    width: 100%;
}

/*corpo da pagina*/
/*imagem*/
.corpo{
    display: flex;
    height: 1024px;
    background: #FFFFFF;
}

.logo{
    position: absolute;
    width: 281px;
    height: 39.67px;
    left: 920px;
    top: 252.33px;
}

/*formulario*/
.login{
    width: 92px; /*altura*/
    height: 600px; /*largura*/
}

.form-control{
    position: absolute;
    width: 400px;
    height: 49px;
    left: 920px;
    top: 356px;

    background: #FFFFFF;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
}

.linha{
    position: absolute;
    width: 400px;
    height: 0px;
    left: 920px;
    top: 405px;
    border: 1px solid #003CFF;
}

.botao-entrar {
    padding: 8px 40px;

    position: absolute;
    width: 176px;
    height: 40px;
    left: 920px;
    top: 445px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: #FFFFFF;
    background-color: #003cff; 

    order: 0;
    align-self: center;
    margin: 10px 0px;
}

/*pé da pagina*/
.card-footer{
    display: flex;
    height: 92px;
    width: 360px;
}

.retangulo26{
    position: absolute;
    width: 360px;
    height: 23px;
    left: -1px;
    top: 780px;
    background: #003CFF;
}

.retangulo27{
    position: absolute;
    width: 360px;
    height: 23px;
    left: 359px;
    top: 780px;
    background: #DD0830;
}

.retangulo28{
    position: absolute;
    width: 360px;
    height: 23px;
    left: 719px;
    top: 780px;
    background: #FF9D00;
}

.retangulo29{
    position: absolute;
    width: 360px;
    height: 23px;
    left: 1079px;
    top: 780px;
    background: #0ACF2E;
}

/*mensagem de erro ao acessar*/
.erro{
    position: absolute;
    width: 400px;
    height: 15px;
    left: 917px;
    top: 409px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #DD0830;
}